#myCarousel {
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel-container {
  padding: 2px;
  margin: 2px;
}

.banner {
  width: 100%;
  margin-top: 2px;
  padding: 0;
}

.carousel-inner {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Center vertically */
}

.carousel-item {
  width: 100%;
  position: relative;
}

.carousel-item img {
  object-fit: cover; /* Make sure the entire image is visible */
  height: 50vh; /* Set the height to 100% of the container */
  padding: 5px;
  border-radius: 10px; /* Add border radius */
}

/* Responsive Styles for Mobile */
@media (max-width: 767px) {
  .carousel-inner {
    height: 100%;
  }

  .carousel-item img {
    object-fit: cover; /* Make sure the entire image is visible */
    height: 20vh; /* Set the height to 100% of the container */
    padding: 5px;
  }
}
